In [1]:
# import libraries to work
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

# Limpieza de Datos:

In [2]:
df_sex_agreson = pd.read_csv('Sexual_Agression.csv')

In [4]:
df_sex_agreson.shape

(1727, 11)

In [5]:
df_sex_agreson.head(10)

,2015,Puebla,Abuso sexual,Abuso sexual.1,0,0.1,0.2,0.3,0.4,0.5,0.6
0,2015,Puebla,Acoso sexual,Acoso sexual,11,8,11,9,18,11,5
1,2015,Puebla,Hostigamiento sexual,Hostigamiento sexual,1,7,5,5,1,3,1
2,2015,Puebla,Violaci�n simple,Violaci�n simple,43,28,30,27,36,33,44
3,2015,Puebla,Violaci�n equiparada,Violaci�n equiparada,8,11,11,14,7,12,7
4,2015,Puebla,Otros delitos que atentan contra la libertad y...,Otros delitos que atentan contra la libertad y...,49,62,63,83,58,77,49
5,2015,Queretaro,Abuso sexual,Abuso sexual,20,13,14,25,25,17,21
6,2015,Queretaro,Acoso sexual,Acoso sexual,5,1,0,0,3,3,0
7,2015,Queretaro,Hostigamiento sexual,Hostigamiento sexual,0,0,0,0,0,0,0
8,2015,Queretaro,Violaci�n simple,Violaci�n simple,17,11,30,25,31,22,29
9,2015,Queretaro,Violaci�n equiparada,Violaci�n equiparada,1,3,3,2,1,2,3

In [6]:
#Hay que susituir todos los ?
df_sex_agreson.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   2015            1727 non-null   int64
 1   Puebla          1727 non-null   object
 2   Abuso sexual    1727 non-null   object
 3   Abuso sexual.1  1727 non-null   object
 4   0               1727 non-null   int64
 5   0.1             1727 non-null   int64
 6   0.2             1727 non-null   int64
 7   0.3             1727 non-null   int64
 8   0.4             1727 non-null   int64
 9   0.5             1727 non-null   int64
 10  0.6             1727 non-null   int64
dtypes: int64(8), object(3)
memory usage: 148.5+ KB

In [7]:
df_sex_agreson.columns
# Los nombres no se exportaron correctamente

Index(['2015', 'Puebla', 'Abuso sexual', 'Abuso sexual.1', '0', '0.1', '0.2',
       '0.3', '0.4', '0.5', '0.6'],
      dtype='object')

In [8]:
#Cambio de el nombre de las columnas, o mejor dicho establecer el nombre de columas
df_sex_agreson.columns = ['A_o', 'Estado', 'Tipo_de_abuso', 'Subtipo_de_Abuso', 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio']

In [10]:
df_sex_agreson.head(1)

,A_o,Estado,Tipo_de_abuso,Subtipo_de_Abuso,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio
0,2015,Puebla,Acoso sexual,Acoso sexual,11,8,11,9,18,11,5

### Revision de ISNULL - ISNAN

In [15]:
df_sex_agreson.isnull().sum() # cuidado con usar count, ya que cuenta los valores o filas

A_o                 0
Estado              0
Tipo_de_abuso       0
Subtipo_de_Abuso    0
Enero               0
Febrero             0
Marzo               0
Abril               0
Mayo                0
Junio               0
Julio               0
dtype: int64

### Revision de unique values

In [16]:
df_sex_agreson.columns

Index(['A_o', 'Estado', 'Tipo_de_abuso', 'Subtipo_de_Abuso', 'Enero',
       'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio'],
      dtype='object')

In [17]:
df_sex_agreson.A_o.unique()
#df_sex_agreson.A_o.nunique()

array([2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023], dtype=int64)

In [20]:
df_sex_agreson.Estado.unique()
#df_sex_agreson.Estado.nunique()

# Recuerda que este fue modificado, en la parte de SQL

32