In [57]:
''' 
Por que se generon algunos NULL values
'''

' \nPor que se generon algunos NULL values\n'

In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tabulate

In [59]:
df_poblacion_mex = pd.read_csv('Poblacion_Mexicana_Mod.csv')

Dado que se presento Estado con 30, valores unicos pero su cuenta es de 32, asumo que hay valores duplicados

In [60]:
df_poblacion_mex.Estado.nunique()

30

In [61]:

df_poblacion_mex.Estado.count()

32

In [62]:
'''Revision y eliminacion de valores duplicados, en el area de los estados'''

# 1. Obten los valores únicos de la columna y conviértelos en una lista
valores_unicos = df_poblacion_mex['Estado'].unique()

# 2. Verifica si hay valores duplicados en la lista de valores únicos
duplicados = [item for item in valores_unicos if list(df_poblacion_mex['Estado']).count(item) > 1]

# 3. Ahora, puedes imprimir los valores duplicados si los hay.
if not duplicados:
    print("No hay valores duplicados en la lista de valores únicos.")
else:
    print("Valores duplicados en la lista de valores únicos:")
    print(duplicados)

Valores duplicados en la lista de valores únicos:
['Quintana Roo', 'Nayarit']

In [63]:

# 1. Utiliza el método `duplicated()` para encontrar las filas duplicadas.
filas_duplicadas = df_poblacion_mex[df_poblacion_mex['Estado'].duplicated()]

# 2. Luego, puedes usar el método `drop()` para eliminar esas filas del DataFrame original.
df_poblacion_mex_wo_duplicated = df_poblacion_mex.drop(filas_duplicadas.index)

# 3. Ahora, df_sin_duplicados contendrá tu DataFrame original sin las filas que contenían valores duplicados.

# Puedes imprimir df_sin_duplicados para verificar que se eliminaron las filas duplicadas.
print(df_poblacion_mex_wo_duplicated.Estado.nunique())

30

In [64]:
df_poblacion_mex_wo_duplicated.Estado.unique()

array(['Aguascalientes', 'Baja California', 'Baja California Sur',
       'Campeche', 'Coahuila de Zaragoza', 'Colima', 'Chiapas',
       'Chihuahua', 'Estado de México', 'Morelos', 'Puebla', 'Tlaxcala',
       'Querétaro', 'Guanajuato', 'Hidalgo', 'Veracruz', 'Tabasco',
       'Quintana Roo', 'Sonora', 'Sinaloa', 'Nayarit', 'Durango',
       'Zacatecas', 'Tamaulipas', 'San Luis Potosí', 'Guerrero', 'Oaxaca',
       'Ciudad de México', 'Yucatán', 'Michoacán de Ocampo'], dtype=object)

In [67]:
'''
melt() se utiliza para "derretir" o "apilar" columnas. En este caso, usamos melt() 
para convertir las columnas 'México' y 'Nuevo León' en una sola columna llamada 'Estado', 
manteniendo la información de 'Año'. Esto crea un DataFrame largo con 
tres columnas: 'Año', 'Estado' y 'Valor'. Es más fácil trabajar con esta estructura para luego pivotear los datos.


Pivotear: Una vez que tenemos el DataFrame derretido, utilizamos el método pivot() para girar las filas y las columnas. 
Esto nos permite tener los años como columnas y los valores de 'México' y 'Nuevo León' en las filas. El resultado es un 
DataFrame donde los años son columnas y 'México' y 'Nuevo León' se combinan en la columna 'Estado'.


'''

# Supongamos que tienes el DataFrame original con las columnas 'Año', 'México' y 'Nuevo León'
data = {
    'Año': [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
    'México': ['122,306,146', '123,605,424', '124,923,181', '126,260,314', '127,618,337', '128,932,489', '130,268,777', '131,628,541', '132,999,898'],
    'Nuevo León': ['5,119,504', '5,232,816', '5,349,155', '5,468,579', '5,591,148', '5,784,442', '5,971,213', '6,161,499', '6,355,642']
}

df_original = pd.DataFrame(data)
#print(df_original)

# 1. Derrite (melt) las columnas 'México' y 'Nuevo León' en una columna 'Estado'
df_melted = pd.melt(df_original, id_vars=['Año'], var_name='Estado', value_name='Valor')
#print(df_melted)

# 2. Pivotea el DataFrame para tener los años como columnas
df_pivoted = df_melted.pivot(index='Estado', columns='Año', values='Valor').reset_index()

# 3. Cambia el nombre de las columnas para que sea más limpio
df_pivoted.columns.name = None

# 4. Verifica el DataFrame final
print(df_pivoted)

       Estado         2015         2016         2017         2018  \
0      México  122,306,146  123,605,424  124,923,181  126,260,314
1  Nuevo León    5,119,504    5,232,816    5,349,155    5,468,579

          2019         2020         2021         2022         2023
0  127,618,337  128,932,489  130,268,777  131,628,541  132,999,898
1    5,591,148    5,784,442    5,971,213    6,161,499    6,355,642

In [69]:
'''Habia una columna estra;a llamada Unamed, no hacia nada asi que solo era practicamente una copia del idx'''
# print(df_poblacion_mex_wo_duplicated.head(3))
# print(df_pivoted.head(3))

# to_delete = list(df_poblacion_mex_wo_duplicated.columns)
# #print(to_delete[0])

# df_poblacion_mex_wo_duplicated = df_poblacion_mex_wo_duplicated.drop(to_delete[0], axis = 1)

# print(df_poblacion_mex_wo_duplicated.head(3))

''' Solo fue necesario ejecutarlo una sola vez'''

                Estado     2015     2016     2017     2018     2019     2020  \
0       Aguascalientes  1326528  1348697  1371285  1394350  1417886  1441884
1      Baja California  3502091  3554774  3608038  3661896  3716360  3771441
2  Baja California Sur   762351   776706   791465   806637   822233   838264

      2021     2022     2023
0  1466342  1491262  1516648
1  3827153  3883494  3940467
2   854738   871659   888938

In [70]:
print(df_pivoted.head(3))

       Estado         2015         2016         2017         2018  \
0      México  122,306,146  123,605,424  124,923,181  126,260,314
1  Nuevo León    5,119,504    5,232,816    5,349,155    5,468,579

          2019         2020         2021         2022         2023
0  127,618,337  128,932,489  130,268,777  131,628,541  132,999,898
1    5,591,148    5,784,442    5,971,213    6,161,499    6,355,642

In [72]:
'''Union de los dos df '''
df_new_pob_mex_with_states = pd.concat([df_poblacion_mex_wo_duplicated, df_pivoted], ignore_index= True)

print(df_new_pob_mex_with_states.Estado.nunique())

32